:root {
  /* white mode */
  /* --main-bg: #ffffff;
    --seccond-bg: #f9f9ff;
    --color: #000000; */
  /* --gradien: linear-gradient(90deg, rgba(132, 144, 255, 1) 0%, rgba(98, 189, 252, 1) 100%); */

  /* dark mode */
  --main-bg: #181a1b;
  --seccond-bg: #131516;
  --color: #d8d4cf;
  --gradien: linear-gradient(90deg, rgb(102, 81, 196) 0%, rgb(47, 131, 190) 100%);

  --margin: calc(50vw - 442px);
  --inner: 10em;
  --orphan: 2;
  --contact-size: 180px;
  --column: 2;
}

html {
  scroll-behavior: smooth;
}
svg {
  fill: var(--color);
  vertical-align: bottom;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: 14px;
  color: var(--color);
  background: var(--main-bg);
}
h1 {
  font-size: 60px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  font-weight: 500;
}
ul {
  padding-left: 1.25em;
}
li {
  padding-right: 2em;
}
#navbar {
  min-height: 70px;
  margin: 0px var(--margin);
}
#navbar a {
  text-decoration: none;
  color: var(--color);
  height: fit-content;
  margin: auto;
}
#hero-section {
  width: 100vw;
  height: auto;
  background: var(--seccond-bg);
  width: 100%;
}
#about {
  height: auto;
  background: var(--main-bg);
}
#projects {
  height: auto;
  background: var(--main-bg);
}
#experience {
  height: 100vh;
  background: var(--gradien);
  color: #ffffff;
}
#contact {
  height: auto;
  background: var(--seccond-bg);
}
.footer {
  height: 100px;
  background: #353841;
}
.content {
  height: calc(100% - 200px);
  margin: 0px var(--margin);
  padding: 100px 0;
}
.footer-content {
  margin: 0px calc(var(--margin) * 0.3);
  padding: 10px 0;
}
.inner-content {
  margin: 0px var(--inner);
}
.hero-img {
  max-height: 480px;
  max-width: 420px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  border-width: 20px;
  border-style: solid;
  border-image: var(--gradien);
  border-image-slice: 1;
}
.project-img {
  /* width: max(640px, 100%); */
  width: 80vmin;
  margin: auto;
}
.logo {
  width: 64px;
  height: 64px;
}
#contact .logo {
  width: var(--contact-size);
  height: var(--contact-size);
  display: block;
  margin: auto;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 0.5em 2em;
  margin: 1em 0;
  background: var(--gradien);
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  color: #ffffff;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
  justify-items: baseline !important;
}
.link {
  text-decoration: none;
  color: var(--color);
}
.grid {
  display: grid;
  column-gap: 2em;
  row-gap: 5em;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.nav-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}
#contact .grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#about .grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#projects .grid {
  grid-template-columns: 1fr;
}
#about ul {
  columns: var(--column);
}
#about li {
  min-width: 16em;
}
.child {
  align-content: center;
  vertical-align: middle;
}
#skills .child:last-child {
  grid-column-start: var(--orphan);
}
#projects .child {
  max-width: 700px;
}
.space {
  padding-bottom: 100px;
}
.red {
  color: red;
}
.inline {
  display: inline-block;
}
.vertical {
  margin-right: 10em;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
  :root {
    --margin: 1.5em;
    --inner: 0em;
    --orphan: 1;
    --contact-size: 100px;
    --column: 1;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    --margin: 5em;
    --inner: 2em;
    --orphan: 2;
    --contact-size: 120px;
    --column: 1;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  :root {
    --margin: max(400px, calc(50vw - 550px));
  }
}
