<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Go Shotener</title>

    <script src="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

  </head>
  <body>
    <style>.github-fork-ribbon:before { background-color: #333; }</style>
    <a class="github-fork-ribbon" target="_blank" href="https://github.com/mustafasegf/go-shortener" data-ribbon="Check on Github" title="Fork me on GitHub">Check on Github</a>
    <div class="container d-flex vh-100">
      <div class="row align-self-center w-100">
        <div class="col-6 mx-auto">
          <div>
            <h1>Simple Url Shortener</h1>
            <p>
              please don't use this for production, this only suffice as fun project
            </p>
            <form action="" id="form" method="POST" onsubmit="addUrl(event);">
              <div class="form-group">
                <label for="long_url">Long url</label>
                <input type="text" name="long_url" class="form-control" />
              </div>

              <div class="form-group">
                <label for="short_url">Short url</label>
                <input type="text" name="short_url" class="form-control" />
              </div>

              <input class="btn btn-dark" type="submit" name="submit" />
            </form>
            <h5 id="status"></h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
